{% extends "admin_layout.html" %}
{% block content %}
    <div class="center"><h3>Edit Quiz</h3></div>
    <form action="/edit_quiz/{{quiz.id}}/{{name}}" method="POST">
        <div class="input_form">
            <div class="mb-3">
                <label for="name" class="form-label">Quiz Name</label>
                <input type="text" class="form-control" name="name" id="name" value="{{quiz.name}}" required>
            </div>
            <div class="mb-3">
                <label for="date_of_quiz" class="form-label">Date of Quiz</label>
                <input type="date" class="form-control" name="date_of_quiz" id="date_of_quiz" value="{{quiz.date_of_quiz}}" required>
            </div>
            <div class="mb-3">
                <label for="time_duration" class="form-label">Time Duration (HH:MM)</label>
                <input type="text" class="form-control" name="time_duration" id="time_duration" value="{{quiz.time_duration}}" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/delete_quiz/{{quiz.id}}/{{name}}" class="btn btn-danger">Delete</a>
                <a href="/admin/{{name}}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}